@using Microsoft.AspNetCore.Identity
@using GoOut.Data.Models
@inject SignInManager<User> SignInManager

    <ul class="navbar-nav w-100 d-block">
        <li class="nav-item float-left">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>

        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item float-left">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>
            </li>
            <li class="nav-item float-right">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
            <li class="nav-item float-right">
                <a id="manage" class="nav-link text-dark font-weight-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a>
            </li>
        }
        else
        {
            <li class="nav-item float-left">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>